@model IEnumerable<FrontEnd.Models.ProductoViewModel>

@{
    ViewBag.Title = "Index";
}

<head>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/4-col-portfolio.css")" rel="stylesheet">

</head>


<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        Catalogo
        <small>Secondary Text</small>
    </h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" width="30%" src="@Url.Content("~/Imagenes/producto" + @Html.ValueFor(modelItem => item.codigo) +".jpg")" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@Html.DisplayFor(modelItem => item.nombre)</a>
                        </h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script>